<!DOCTYPE html>
<html>
<head>
    <title>Book Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Book Search</h1>
    <form method="POST">
        <input type="text" name="search_query" placeholder="Search for books">
        <button type="submit">Search</button>
    </form>
    <hr>
    <h2>Search Results:</h2>
    <ul>
        {% for book in search_results %}
            <li>
                <strong>Title:</strong> {{ book.title }}<br>
                <strong>Author(s):</strong> {{ book.author_name | join(', ') }}<br>
                <strong>Year:</strong> {{ book.first_publish_year }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
